<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .expired-book {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <table>
        <tr th:each="book : ${books}">

            <td th:text="${book.title}"
                th:class="${book.isExpired} ? 'expired-book' : ''"></td>
            <td th:text="${', ' + book.author + ', ' + book.year}"></td>
        </tr>
    </table>
    <hr/>
</div>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<a href="/people">Вернуться на страницу с людьми</a>

</body>
</html>